html {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Open Sans', serif;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    -webkit-font-smoothing: antialiased;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}

.homePage {
    display: block;
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    overflow-x: auto;
    overflow-y: auto;
    background-color: rgba(255, 255, 255, 1);
    width: 1400.00px;
    height: 2204.00px;
    left: 0px;
    top: 0px;
}

.homePage .bottom {
    display: block;
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    overflow-x: unset;
    overflow-y: unset;
    background-color: transparent;
    width: 241.00px;
    height: 135.00px;
    left: 579.50px;
    top: 1832.00px;
}

.homePage .bottom .connectWithMe {
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    letter-spacing: 0.00px;
    color: rgba(0, 0, 0, 1);
    -webkit-text-stroke: unset;
    font-size: 29.00px;
    font-weight: 700;
    font-style: italic;
    font-family: 'Plantin MT Pro', Arial;
    text-decoration: none;
    box-shadow: none;
    overflow-x: unset;
    overflow-y: unset;
    white-space: pre;
    width: 241.00px;
    height: 29.00px;
    left: 0.00px;
    top: 56.00px;
}

.homePage .bottom .email {
    display: block;
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    overflow-x: unset;
    overflow-y: unset;
    background-color: transparent;
    width: 25.00px;
    height: 19.82px;
    left: 166.99px;
    top: 113.23px;
}

.homePage .bottom .email .group1 {
    display: block;
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    overflow-x: unset;
    overflow-y: unset;
    background-color: transparent;
    width: 25.00px;
    height: 19.82px;
    left: 0.00px;
    top: 0.00px;
}

.homePage .bottom .email .group1 .path8 {
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    fill: rgba(0, 0, 0, 1);
    box-shadow: none;
    width: 25.00px;
    height: 19.82px;
    left: 0.00px;
    top: 0.00px;
}

.homePage .bottom .endingRectanhle {
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    background-color: rgba(0, 0, 0, 1);
    border-bottom-color: rgba(112, 112, 112, 1);
    border-bottom-style: none;
    border-bottom-width: 1.00px;
    border-left-color: rgba(112, 112, 112, 1);
    border-left-style: none;
    border-left-width: 1.00px;
    border-right-color: rgba(112, 112, 112, 1);
    border-right-style: none;
    border-right-width: 1.00px;
    border-top-color: rgba(112, 112, 112, 1);
    border-top-style: none;
    border-top-width: 1.00px;
    border-top-left-radius: 0.00px;
    border-top-right-radius: 0.00px;
    border-bottom-left-radius: 0.00px;
    border-bottom-right-radius: 0.00px;
    box-shadow: none;
    width: 76.00px;
    height: 10.00px;
    left: 82.50px;
    top: 0.00px;
}

.homePage .bottom .x001Instagram643ac4d4 {
    display: block;
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    overflow-x: unset;
    overflow-y: unset;
    background-color: transparent;
    width: 25.00px;
    height: 25.00px;
    left: 49.50px;
    top: 110.00px;
}

.homePage .bottom .x001Instagram643ac4d4 .path10 {
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    fill: rgba(0, 0, 0, 1);
    box-shadow: none;
    width: 25.00px;
    height: 25.00px;
    left: 0.00px;
    top: 0.00px;
}

.homePage .bottom .x001Instagram643ac4d4 .path11 {
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    fill: rgba(0, 0, 0, 1);
    box-shadow: none;
    width: 12.84px;
    height: 12.84px;
    left: 6.08px;
    top: 6.08px;
}

.homePage .bottom .x001Instagram643ac4d4 .path12 {
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    fill: rgba(0, 0, 0, 1);
    box-shadow: none;
    width: 3.00px;
    height: 3.00px;
    left: 17.68px;
    top: 4.33px;
}

.homePage .bottom .x002Linkedinae7fe913 {
    display: block;
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    overflow-x: unset;
    overflow-y: unset;
    background-color: transparent;
    width: 25.00px;
    height: 25.00px;
    left: 108.00px;
    top: 108.00px;
}

.homePage .bottom .x002Linkedinae7fe913 .path13 {
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    fill: rgba(0, 0, 0, 1);
    box-shadow: none;
    width: 16.16px;
    height: 17.11px;
    left: 8.84px;
    top: 7.89px;
}

.homePage .bottom .x002Linkedinae7fe913 .path14 {
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    fill: rgba(0, 0, 0, 1);
    box-shadow: none;
    width: 5.18px;
    height: 16.69px;
    left: 0.41px;
    top: 8.31px;
}

.homePage .bottom .x002Linkedinae7fe913 .path15 {
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    fill: rgba(0, 0, 0, 1);
    box-shadow: none;
    width: 6.00px;
    height: 6.03px;
    left: 0.00px;
    top: 0.00px;
}

.homePage .rectangleGreen {
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    background-color: rgba(161, 172, 156, 1);
    border-bottom-color: rgba(112, 112, 112, 1);
    border-bottom-style: none;
    border-bottom-width: 1.00px;
    border-left-color: rgba(112, 112, 112, 1);
    border-left-style: none;
    border-left-width: 1.00px;
    border-right-color: rgba(112, 112, 112, 1);
    border-right-style: none;
    border-right-width: 1.00px;
    border-top-color: rgba(112, 112, 112, 1);
    border-top-style: none;
    border-top-width: 1.00px;
    border-top-left-radius: 0.00px;
    border-top-right-radius: 0.00px;
    border-bottom-left-radius: 0.00px;
    border-bottom-right-radius: 0.00px;
    box-shadow: none;
    width: 882.00px;
    height: 382.00px;
    left: 0.00px;
    top: 839.00px;
}

.homePage .rectangleRed {
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    background-color: rgba(212, 136, 104, 1);
    border-bottom-color: rgba(112, 112, 112, 1);
    border-bottom-style: none;
    border-bottom-width: 1.00px;
    border-left-color: rgba(112, 112, 112, 1);
    border-left-style: none;
    border-left-width: 1.00px;
    border-right-color: rgba(112, 112, 112, 1);
    border-right-style: none;
    border-right-width: 1.00px;
    border-top-color: rgba(112, 112, 112, 1);
    border-top-style: none;
    border-top-width: 1.00px;
    border-top-left-radius: 0.00px;
    border-top-right-radius: 0.00px;
    border-bottom-left-radius: 0.00px;
    border-bottom-right-radius: 0.00px;
    box-shadow: none;
    width: 715.00px;
    height: 295.00px;
    left: 685.00px;
    top: 1289.00px;
}

.homePage .component161 {
    display: block;
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    overflow-x: unset;
    overflow-y: unset;
    background-color: transparent;
    width: 557.00px;
    height: 336.00px;
    left: 232.00px;
    top: 1376.00px;
}

.homePage .component161 .path16 {
    position: absolute;
    box-sizing: content-box;
    display: none;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 0.2414720058441162;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    fill: rgba(0, 0, 0, 1);
    box-shadow: none;
    -webkit-filter: blur(18.179800033569336px);
    filter: blur(18.179800033569336px) width: 557.00px;
    height: 336.00px;
    left: 32.00px;
    top: 23.00px;
}

.homePage .component161 .x1 {
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    fill: rgba(255, 255, 255, 0);
    box-shadow: none;
    width: 557.00px;
    height: 336.00px;
    left: 0.00px;
    top: 0.00px;
}

.homePage .component161 .design {
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    letter-spacing: 0.00px;
    color: rgba(0, 0, 0, 1);
    -webkit-text-stroke: unset;
    font-size: 52.00px;
    font-weight: 700;
    font-style: italic;
    font-family: 'Plantin MT Pro', Arial;
    text-decoration: none;
    box-shadow: none;
    overflow-x: unset;
    overflow-y: unset;
    white-space: pre;
    width: 214.00px;
    height: 52.00px;
    left: 11.00px;
    top: 274.00px;
}

.homePage .intro {
    display: block;
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    overflow-x: unset;
    overflow-y: unset;
    background-color: transparent;
    width: 685.00px;
    height: 586.00px;
    left: 608.00px;
    top: 274.00px;
}

.homePage .intro .strokeAnimation {
    display: block;
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    overflow-x: unset;
    overflow-y: unset;
    background-color: transparent;
    width: 685.00px;
    height: 398.00px;
    left: 0.00px;
    top: 188.00px;
}

.homePage .intro .strokeAnimation .stroke {
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    background-image: url("assets/stroke.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    background-color: rgba(255, 255, 255, 0);
    border-bottom-color: rgba(112, 112, 112, 1);
    border-bottom-style: none;
    border-bottom-width: 1.00px;
    border-left-color: rgba(112, 112, 112, 1);
    border-left-style: none;
    border-left-width: 1.00px;
    border-right-color: rgba(112, 112, 112, 1);
    border-right-style: none;
    border-right-width: 1.00px;
    border-top-color: rgba(112, 112, 112, 1);
    border-top-style: none;
    border-top-width: 1.00px;
    border-top-left-radius: 0.00px;
    border-top-right-radius: 0.00px;
    border-bottom-left-radius: 0.00px;
    border-bottom-right-radius: 0.00px;
    box-shadow: none;
    width: 685.00px;
    height: 342.00px;
    left: 0.00px;
    top: 0.00px;
}

.homePage .intro .strokeAnimation .stroke131f6753c {
    display: block;
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    overflow-x: unset;
    overflow-y: unset;
    background-color: transparent;
    width: 665.00px;
    height: 333.00px;
    left: 10.00px;
    top: 65.00px;
}

.homePage .intro .strokeAnimation .stroke131f6753c .stroke1 {
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    background-image: url("assets/stroke1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    background-color: rgba(255, 255, 255, 0);
    border-bottom-color: rgba(112, 112, 112, 1);
    border-bottom-style: none;
    border-bottom-width: 1.00px;
    border-left-color: rgba(112, 112, 112, 1);
    border-left-style: none;
    border-left-width: 1.00px;
    border-right-color: rgba(112, 112, 112, 1);
    border-right-style: none;
    border-right-width: 1.00px;
    border-top-color: rgba(112, 112, 112, 1);
    border-top-style: none;
    border-top-width: 1.00px;
    border-top-left-radius: 0.00px;
    border-top-right-radius: 0.00px;
    border-bottom-left-radius: 0.00px;
    border-bottom-right-radius: 0.00px;
    box-shadow: none;
    width: 665.00px;
    height: 333.00px;
    left: 0.00px;
    top: 0.00px;
}

.homePage .intro .text {
    display: block;
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    overflow-x: unset;
    overflow-y: unset;
    background-color: transparent;
    width: 622.00px;
    height: 379.00px;
    left: 47.00px;
    top: 0.00px;
}

.homePage .intro .text .artistDesignerStudent {
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    letter-spacing: 0.00px;
    color: rgba(0, 0, 0, 1);
    -webkit-text-stroke: unset;
    font-size: 57.00px;
    font-weight: 700;
    font-style: italic;
    font-family: 'Plantin MT Pro', Arial;
    text-decoration: none;
    box-shadow: none;
    overflow-x: unset;
    overflow-y: unset;
    white-space: pre;
    width: 622.00px;
    height: 57.00px;
    left: 0.00px;
    top: 322.00px;
}

.homePage .intro .text .helloWorld {
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    letter-spacing: 1.85px;
    color: rgba(0, 0, 0, 1);
    -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
    font-size: 74.00px;
    font-weight: 700;
    font-style: normal;
    font-family: 'Helvetica Neue', Arial;
    text-decoration: none;
    box-shadow: none;
    overflow-x: unset;
    overflow-y: unset;
    white-space: pre;
    width: 567.00px;
    height: 88.00px;
    left: 49.00px;
    top: 0.00px;
}

.homePage .intro .text .im {
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    letter-spacing: 1.85px;
    color: rgba(0, 0, 0, 1);
    -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
    font-size: 74.00px;
    font-weight: 700;
    font-style: normal;
    font-family: 'Helvetica Neue', Arial;
    text-decoration: none;
    box-shadow: none;
    overflow-x: unset;
    overflow-y: unset;
    white-space: pre;
    width: 113.00px;
    height: 88.00px;
    left: 119.00px;
    top: 100.00px;
}

.homePage .intro .annaYu6cba8169 {
    display: block;
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    overflow-x: unset;
    overflow-y: unset;
    background-color: transparent;
    width: 358.00px;
    height: 88.00px;
    left: 311.00px;
    top: 101.00px;
}

.homePage .intro .annaYu6cba8169 .path7 {
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 0;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    fill: rgba(161, 172, 156, 1);
    box-shadow: none;
    width: 358.00px;
    height: 74.00px;
    left: 0.00px;
    top: 7.00px;
}

.homePage .intro .annaYu6cba8169 .anna {
    display: block;
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    overflow-x: unset;
    overflow-y: unset;
    background-color: transparent;
    width: 347.00px;
    height: 88.00px;
    left: 5.00px;
    top: 0.00px;
}

.homePage .intro .annaYu6cba8169 .anna .annaYu5c8e3516 {
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    letter-spacing: 1.85px;
    color: rgba(0, 0, 0, 1);
    -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
    font-size: 74.00px;
    font-weight: 700;
    font-style: normal;
    font-family: 'Helvetica Neue', Arial;
    text-decoration: none;
    box-shadow: none;
    overflow-x: unset;
    overflow-y: unset;
    white-space: pre;
    width: 347.00px;
    height: 88.00px;
    left: 0.00px;
    top: 0.00px;
}

.homePage .intro .annaYu6cba8169 .annaStroke {
    display: block;
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    overflow-x: unset;
    overflow-y: unset;
    background-color: transparent;
    width: 347.00px;
    height: 88.00px;
    left: 5.00px;
    top: 0.00px;
}

.homePage .intro .annaYu6cba8169 .annaStroke .annaYu {
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    letter-spacing: 1.85px;
    color: rgba(255, 255, 255, 1);
    -webkit-text-stroke: 3.00px rgba(0, 0, 0, 1);
    font-size: 74.00px;
    font-weight: 700;
    font-style: normal;
    font-family: 'Helvetica Neue', Arial;
    text-decoration: none;
    box-shadow: none;
    overflow-x: unset;
    overflow-y: unset;
    white-space: pre;
    width: 347.00px;
    height: 88.00px;
    left: 0.00px;
    top: 0.00px;
}

.homePage .intro .mainPageRectangle {
    display: block;
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    overflow-x: unset;
    overflow-y: unset;
    background-color: transparent;
    width: 198.00px;
    height: 21.00px;
    left: 448.00px;
    top: 240.00px;
}

.homePage .intro .mainPageRectangle .rectangle2 {
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    background-color: rgba(0, 0, 0, 1);
    border-bottom-color: rgba(112, 112, 112, 1);
    border-bottom-style: none;
    border-bottom-width: 1.00px;
    border-left-color: rgba(112, 112, 112, 1);
    border-left-style: none;
    border-left-width: 1.00px;
    border-right-color: rgba(112, 112, 112, 1);
    border-right-style: none;
    border-right-width: 1.00px;
    border-top-color: rgba(112, 112, 112, 1);
    border-top-style: none;
    border-top-width: 1.00px;
    border-top-left-radius: 0.00px;
    border-top-right-radius: 0.00px;
    border-bottom-left-radius: 0.00px;
    border-bottom-right-radius: 0.00px;
    box-shadow: none;
    width: 198.00px;
    height: 21.00px;
    left: 0.00px;
    top: 0.00px;
}

.homePage .header {
    display: block;
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    background-image: url("assets/header.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    overflow-x: unset;
    overflow-y: unset;
    background-color: transparent;
    width: 1141.00px;
    height: 56.05px;
    left: 129.00px;
    top: 40.48px;
}

.homePage .header .component11 {
    display: block;
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    overflow-x: unset;
    overflow-y: unset;
    background-color: transparent;
    width: 45.00px;
    height: 18.00px;
    left: 731.33px;
    top: 19.52px;
}

.homePage .header .component11 .component41 {
    display: block;
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    overflow-x: unset;
    overflow-y: unset;
    background-color: transparent;
    width: 45.00px;
    height: 18.00px;
    left: 0.00px;
    top: 0.00px;
}

.homePage .header .component11 .component41 .home {
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    letter-spacing: 0.00px;
    color: rgba(112, 112, 112, 1);
    -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
    font-size: 15.00px;
    font-weight: 500;
    font-style: normal;
    font-family: 'Helvetica Neue', Arial;
    text-decoration: none;
    box-shadow: none;
    overflow-x: unset;
    overflow-y: unset;
    white-space: pre;
    width: 45.00px;
    height: 18.00px;
    left: 0.00px;
    top: 0.00px;
}

.homePage .header .component21 {
    display: block;
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    overflow-x: unset;
    overflow-y: unset;
    background-color: transparent;
    width: 47.00px;
    height: 18.00px;
    left: 816.33px;
    top: 19.52px;
}

.homePage .header .component21 .work {
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    letter-spacing: 0.00px;
    color: rgba(112, 112, 112, 1);
    -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
    font-size: 15.00px;
    font-weight: 500;
    font-style: normal;
    font-family: 'Helvetica Neue', Arial;
    text-decoration: none;
    box-shadow: none;
    overflow-x: unset;
    overflow-y: unset;
    white-space: pre;
    width: 47.00px;
    height: 18.00px;
    left: 0.00px;
    top: 0.00px;
}

.homePage .header .component31 {
    display: block;
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    overflow-x: unset;
    overflow-y: unset;
    background-color: transparent;
    width: 52.00px;
    height: 18.00px;
    left: 903.33px;
    top: 19.52px;
}

.homePage .header .component31 .about {
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    letter-spacing: 0.00px;
    color: rgba(112, 112, 112, 1);
    -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
    font-size: 15.00px;
    font-weight: 500;
    font-style: normal;
    font-family: 'Helvetica Neue', Arial;
    text-decoration: none;
    box-shadow: none;
    overflow-x: unset;
    overflow-y: unset;
    white-space: pre;
    width: 52.00px;
    height: 18.00px;
    left: 0.00px;
    top: 0.00px;
}

.homePage .header .x001Instagram {
    display: block;
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    overflow-x: unset;
    overflow-y: unset;
    background-color: transparent;
    width: 17.00px;
    height: 17.00px;
    left: 1100.33px;
    top: 19.52px;
}

.homePage .header .x001Instagram .path1 {
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    fill: rgba(112, 112, 112, 1);
    box-shadow: none;
    width: 17.00px;
    height: 17.00px;
    left: 0.00px;
    top: 0.00px;
}

.homePage .header .x001Instagram .path2 {
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    fill: rgba(112, 112, 112, 1);
    box-shadow: none;
    width: 8.74px;
    height: 8.74px;
    left: 4.14px;
    top: 4.14px;
}

.homePage .header .x001Instagram .path3 {
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    fill: rgba(112, 112, 112, 1);
    box-shadow: none;
    width: 2.04px;
    height: 2.04px;
    left: 12.02px;
    top: 2.94px;
}

.homePage .header .x002Linkedin {
    display: block;
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    overflow-x: unset;
    overflow-y: unset;
    background-color: transparent;
    width: 17.00px;
    height: 17.00px;
    left: 1124.00px;
    top: 18.52px;
}

.homePage .header .x002Linkedin .path4 {
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    fill: rgba(112, 112, 112, 1);
    box-shadow: none;
    width: 10.99px;
    height: 11.64px;
    left: 6.01px;
    top: 5.36px;
}

.homePage .header .x002Linkedin .path5 {
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    fill: rgba(112, 112, 112, 1);
    box-shadow: none;
    width: 3.52px;
    height: 11.35px;
    left: 0.28px;
    top: 5.65px;
}

.homePage .header .x002Linkedin .path6 {
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    fill: rgba(112, 112, 112, 1);
    box-shadow: none;
    width: 4.08px;
    height: 4.10px;
    left: 0.00px;
    top: 0.00px;
}

.homePage .header .webHeader {
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(1.00deg);
    -webkit-transform: rotate(1.00deg);
    transform: rotate(1.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    background-image: url("assets/webHeader.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    background-color: rgba(255, 255, 255, 0);
    border-bottom-color: rgba(112, 112, 112, 1);
    border-bottom-style: none;
    border-bottom-width: 1.00px;
    border-left-color: rgba(112, 112, 112, 1);
    border-left-style: none;
    border-left-width: 1.00px;
    border-right-color: rgba(112, 112, 112, 1);
    border-right-style: none;
    border-right-width: 1.00px;
    border-top-color: rgba(112, 112, 112, 1);
    border-top-style: none;
    border-top-width: 1.00px;
    border-top-left-radius: 0.00px;
    border-top-right-radius: 0.00px;
    border-bottom-left-radius: 0.00px;
    border-bottom-right-radius: 0.00px;
    box-shadow: none;
    width: 175.00px;
    height: 53.00px;
    left: 0.45px;
    top: 1.52px;
}

.homePage .header .component171 {
    display: block;
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    overflow-x: unset;
    overflow-y: unset;
    background-color: transparent;
    width: 70.00px;
    height: 18.00px;
    left: 995.00px;
    top: 19.52px;
}

.homePage .header .component171 .contact {
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    letter-spacing: 0.00px;
    color: rgba(112, 112, 112, 1);
    -webkit-text-stroke: unset;
    font-size: 15.00px;
    font-weight: 500;
    font-style: normal;
    font-family: 'Helvetica Neue', Arial;
    text-decoration: none;
    box-shadow: none;
    overflow-x: unset;
    overflow-y: unset;
    white-space: pre;
    width: 70.00px;
    height: 18.00px;
    left: 0.00px;
    top: 0.00px;
}

.homePage .component151 {
    display: block;
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    overflow-x: unset;
    overflow-y: unset;
    background-color: transparent;
    width: 412.00px;
    height: 260.00px;
    left: 725.00px;
    top: 898.00px;
}

.homePage .component151 .rectangle5 {
    position: absolute;
    box-sizing: content-box;
    display: none;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    background-image: url("assets/rectangle5.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.24066899716854095;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    background-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(112, 112, 112, 1);
    border-bottom-style: none;
    border-bottom-width: 1.00px;
    border-left-color: rgba(112, 112, 112, 1);
    border-left-style: none;
    border-left-width: 1.00px;
    border-right-color: rgba(112, 112, 112, 1);
    border-right-style: none;
    border-right-width: 1.00px;
    border-top-color: rgba(112, 112, 112, 1);
    border-top-style: none;
    border-top-width: 1.00px;
    border-top-left-radius: 0.00px;
    border-top-right-radius: 0.00px;
    border-bottom-left-radius: 0.00px;
    border-bottom-right-radius: 0.00px;
    box-shadow: none;
    -webkit-filter: blur(18.290599822998047px);
    filter: blur(18.290599822998047px) width: 412.00px;
    height: 260.00px;
    left: -25.00px;
    top: 13.00px;
}

.homePage .component151 .yushirleyetch {
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    background-image: url("assets/yushirleyetch.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    background-color: rgba(255, 255, 255, 0);
    border-bottom-color: rgba(112, 112, 112, 1);
    border-bottom-style: none;
    border-bottom-width: 1.00px;
    border-left-color: rgba(112, 112, 112, 1);
    border-left-style: none;
    border-left-width: 1.00px;
    border-right-color: rgba(112, 112, 112, 1);
    border-right-style: none;
    border-right-width: 1.00px;
    border-top-color: rgba(112, 112, 112, 1);
    border-top-style: none;
    border-top-width: 1.00px;
    border-top-left-radius: 0.00px;
    border-top-right-radius: 0.00px;
    border-bottom-left-radius: 0.00px;
    border-bottom-right-radius: 0.00px;
    box-shadow: none;
    width: 412.00px;
    height: 260.00px;
    left: 0.00px;
    top: 0.00px;
}

.homePage .art {
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    letter-spacing: 0.00px;
    color: rgba(0, 0, 0, 1);
    -webkit-text-stroke: unset;
    font-size: 57.00px;
    font-weight: 700;
    font-style: italic;
    font-family: 'Plantin MT Pro', Arial;
    text-decoration: none;
    box-shadow: none;
    overflow-x: unset;
    overflow-y: unset;
    white-space: pre;
    width: 127.00px;
    height: 57.00px;
    left: 1001.00px;
    top: 1097.00px;
}