#work-body {
  position: relative;
  margin-top: 215px;
  margin-left: 23vw;
}

#work-body .yellow-box {
  top: 0;
  left: 0;
  width: 464px;
  height: 1044px;
  background: var(--unnamed-color-f4d99e) 0% 0% no-repeat padding-box;
  background: #f4d99e 0% 0% no-repeat padding-box;
  opacity: 1;
}

#work-body .title {
  position: absolute;
  top: 91px;
  left: 373px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    49px/60px var(--unnamed-font-family-helvetica-neue);
  color: var(--unnamed-color-000000);
  text-align: left;
  letter-spacing: 1.23px;
  color: #000000;
  opacity: 1;
}

#work-body .black-box {
  position: absolute;
  top: 156px;
  left: 373px;
  width: 181px;
  height: 18px;
  background: var(--unnamed-color-000000) 0% 0% no-repeat padding-box;
  opacity: 1;
  z-index: 1;
}

#work-body .work-art-link {
  position: absolute;
  top: 244px;
  left: 133px;
}

#work-body .image-title-text {
  font-size: 43px;
  line-height: 52px;
  font-family: Helvetica;
  color: var(--unnamed-color-000000);
  text-align: left;
  letter-spacing: 1.07px;
  opacity: 1;
}

#work-body .image-subtitle-text {
  font: normal normal 300 17px/20px "Helvetica";
  letter-spacing: var(--unnamed-character-spacing-0-42);
  color: var(--unnamed-color-000000);
  text-align: right;
  letter-spacing: 0.42px;
  opacity: 1;
}

#work-body .art-title {
  position: absolute;
  top: 187px;
  left: 134px;
}

#work-body .art-subtitle {
  position: absolute;
  top: 238px;
  left: 0px;
  width: 220px;
  height: 40px;
}

#work-body .work-design-link {
  position: absolute;
  top: 635px; 
  left: 133px;
}

#work-body .design-title {
  position: absolute;
  top: 187px;
  left: 53px;
}

#work-body .design-subtitle {
  position: absolute;
  top: 238px;
  left: 0px;
  width: 220px;
  height: 40px;
}

#work-body .image {
  margin-left: 240px;
  width: 491px;
  height: 314px;
}

body .work-footer {
    margin-top: 86px !important; 
}
