#about-body {
    z-index: 1;
    position: relative;
    margin-top: 25vh;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}

#about-body .picture {
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
} 

#about-body .title {
    position: absolute;
    top: 10px;
    left: 450px;
    text-align: left;
    font: italic normal 600 40px/40px Plantin MT Pro;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

#about-body .content {
    position: absolute;
    top: 85px;
    left: 450px;
    width: 550px;
    height: 400px;
    text-align: left;
    font: normal normal 300 16px/15px Helvetica;
    letter-spacing: 0.42px;
    line-height: normal;
    color: #000000;
}

.about-footer {
    pointer-events: auto;
    position: relative;
    z-index: 0;
    padding-top: 800px;
    margin-top: unset !important;
}