#about-body {
    position: relative;
    margin-top: 222px;
    margin-left: auto;
    margin-right: auto;
    width: 1052px;
}

#about-body .picture {
    position: absolute;
    top: 0;
    left: 0;
    width: 450px;
    height: 565px;
} 

#about-body .caption {
    position: absolute;
    top: 570px;
    left: 0;
    width: 533px;
    height: 283px;
    text-align: left;
    font: normal normal 400 17px/20px Helvetica Neue;
    letter-spacing: 0.42px;
    color: #707070;
}

#about-body .title {
    position: absolute;
    top: 17px;
    left: 509px;
    text-align: left;
    font: italic normal 600 45px/63px Plantin MT Pro;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

#about-body .content {
    position: absolute;
    top: 96px;
    left: 509px;
    width: 533px;
    height: 283px;
    text-align: left;
    font: normal normal 300 17px/20px Helvetica Neue;
    letter-spacing: 0.42px;
    color: #000000;
}

#about-body .email {
    position: absolute;
    top: 380px;
    left: 509px;
    width: 533px;
    height: 283px;
    text-align: left;
    font: normal normal 400 30px/63px Plantin MT Pro;
    letter-spacing: 0.42px;
    color: #000000;
}

.about-footer {
    position: relative;
    padding-top: 800px;
    margin-top: unset !important;
}